/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

$mediumArticleShadow : 0 1px 4px rgba(0,0,0,.04);
$mediumArticleBorder : 1px solid rgba(0,0,0,.09);
$mediumBorderRadius  : 3px;

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$c1 		: #dedede;
$c2 		: #292929;

$w			: #ffffff;
$b			: #000000;
$gb			: #686868;
$g  		: #35ad68;
$y			: #FFFDD2;
$g          : #F9F9F9;
$m          : #F9F9F9;


/* ----------------------------------------------------------------------------
 * Primary Color Variants
 * ------------------------------------------------------------------------- */
